	* {box-sizing: border-box;}

	body { 
	  margin: 0;
	  font-family: Arial, Helvetica, sans-serif;
	}

	.header {
	  overflow: hidden;
	  background-color: green;
	  padding: 20px 10px;
	  
	}

	.header a {
	  float: left;
	  color: black;
	  text-align: center;
	  padding: 12px;
	  text-decoration: none;
	  font-size: 18px; 
	  line-height: 25px;
	  border-radius: 4px;
	}

	.header a.logo {
	  font-size: 25px;
	  font-weight: bold;
	}


	.header a.active {
	  background-color: green;
	  color: white;
	}

	.header-right {
	  float: right;
	}

	@media screen and (max-width: 500px) {
	  .header a {
		float: none;
		display: block;
		text-align: left;
	  }
	  
	  .header-right {
		float: none;
	  }
	 
	}

	 .footer {
	   position: fixed;
	   left: 0;
	   bottom: 0;
	   width: 100%;
	   background-color: green;
	   text-align: center;
	}

	#logo{
		height:47px ;
		width:140px ;

	}

	
	#details{
		
		padding-left:280px;
	}
	
	#news-here{
		display: block;
		
	}
	#content
	{
		padding-left:280px;
	}
	
	body
	{
		background-repeat: no-repeat;
		background-size: 100% 100%;
		mix-blend-mode: difference;
	}
	
	html
	{
		height: 100%
	}